.topnav {
    background-color: rgb(2, 5, 41);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f3f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(17, 1, 1);
    color: rgb(18, 231, 100);
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: rgb(1, 1, 29);
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  .topnav-right {
    background-color: rgb(2, 5, 41);
    color: rgb(18, 231, 100);
    float: right;
  }